@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-300 bg-white text-slate-900;
  }
  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}